body {
  color: aliceblue;
  background-color: black;
}
.daniGreating {
  color: whitesmoke;
  width: 50%;
  margin: 0 auto;
  background-color: black;
  background-image: url("./bestcr.svg");
  height: 40rem;

  background-position: top;
}
.greating {
  text-align: center;
  border: 1px solid black;
}
header {
  color: whitesmoke;
  background-color: black;
}
header h3 {
  text-align: center;
}
.giant-about-me h1 {
  position: absolute;
  font-size: 15rem;
  right: 2rem;
}
