.daniGreating {
  color: gray;

  background-image: url("./pexels-photo-2274463.jpeg");

  background-attachment: fixed;
  background-position: 90% 10%;
}
.greating {
  padding-top: 30rem;
}
header {
  color: black;
}
header h3 {
  text-align: center;
}
.giant-about-me h1 {
  position: absolute;
  font-size: 15rem;
  right: 2rem;
}
